env:
  PROJECT_ID: {{ .Values.gcpProject }}
  ENCRYPTION_KEY: {{ .Values.secretManager.encryptionKey }}
  REDISHOST: {{ .Values.redis.host }}
  DEPLOYMENT_ENV: {{ .Values.env_id }}

serviceAccount:
  annotations:
    iam.gke.io/gcp-service-account: {{ default .Release.Name .Values.serviceAccount.gcpServiceAccountName }}@{{ default .Values.gcpProject .Values.serviceAccount.gcpProject }}.iam.gserviceaccount.com