env:
  PROJECT_ID: {{ .Values.gcpProject }}
  REDISHOST: {{ .Values.redis.host }}
  SECRET_ID: {{ .Values.secretManager.secretKey }}

serviceAccount:
  annotations:
    iam.gke.io/gcp-service-account: {{ default .Release.Name .Values.serviceAccount.gcpServiceAccountName }}@{{ default .Values.gcpProject .Values.serviceAccount.gcpProject }}.iam.gserviceaccount.com